<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
      <a class="nav-link" id="home-tab" href="https://github.com/SpineView1/np-mt-rnm">
          <i class="material-icons align-middle">home</i> Home
      </a>
  </li>
  <li class="nav-item" role="presentation">
      <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">
          <i class="material-icons align-middle">dashboard</i> Contributions
      </button>
  </li>
  <li class="nav-item" role="presentation">
      <button class="nav-link" id="metadata-tab" data-bs-toggle="tab" data-bs-target="#metadata" type="button" role="tab" aria-controls="metadata" aria-selected="false">
          <i class="material-icons align-middle">info</i> Abstract
      </button>
  </li>
  <li class="nav-item" role="presentation">
      <button class="nav-link" id="units-tab" data-bs-toggle="tab" data-bs-target="#units" type="button" role="tab" aria-controls="units" aria-selected="false">
          <i class="material-icons align-middle">straighten</i> Units
      </button>
  </li>
  <li class="nav-item" role="presentation">
      <button class="nav-link" id="compartments-tab" data-bs-toggle="tab" data-bs-target="#compartments" type="button" role="tab" aria-controls="compartments" aria-selected="false">
          <i class="material-icons align-middle">view_module</i> Compartments
      </button>
  </li>
  <li class="nav-item" role="presentation">
      <button class="nav-link" id="reactions-tab" data-bs-toggle="tab" data-bs-target="#reactions" type="button" role="tab" aria-controls="reactions" aria-selected="false">
          <i class="material-icons align-middle">compare_arrows</i> Reactions
      </button>
  </li>
  <li class="nav-item" role="presentation">
      <button class="nav-link" id="simulation-tab" data-bs-toggle="tab" data-bs-target="#simulation" type="button" role="tab" aria-controls="simulation" aria-selected="false">
          <i class="material-icons align-middle">flash_on</i> Simulation
      </button>
  </li>
</ul>