<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <div class="modal-body">
                <table class="table w-100" style="width:100%;">
                    <tbody><tr>
                        <th>Author</th>
                        <th><i class="fas fa-home" title="Home"></i></th>
                        <th><i class="fas fa-envelope" title="Email"></i></th>
                        <th><i class="fab fa-twitter-square"></i></th>
                        <th><i class="fab fa-github" title="GitHub"></i></th>
                        <th><i class="fas fa-graduation-cap" title="Google Scholar"></i></th>
                        <th><i class="fab fa-orcid" title="ORCID"></i></th>
                        <th><i class="fab fa-researchgate" title="ResearchGate"></i></th>
                        <th><i class="fab fa-linkedin" title="LinkedIn"></i></th>
                        <th>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 599 260" width="20" height="20">
                                <g fill="none" fill-rule="evenodd">
                                    <path fill="#000" d="M483 180.265V249h-26V60h26v14.735C495.302 64.002 511.392 57.5 529 57.5c38.66 0 70 31.34 70 70s-31.34 70-70 70c-17.608 0-33.698-6.502-46-17.235zm46-6.765c-25.957 0-47-21.043-47-47s21.043-47 47-47 47 21.043 47 47-21.043 47-47 47zM0 0h25v156c0 10.667 7.667 16 23 16 1.333 4.667 4.333 11.667 9 21H34c-21 0-34-21-34-37V0zm382 197.5c-38.66 0-70-31.34-70-70s31.34-70 70-70 70 31.34 70 70-31.34 70-70 70zm0-24c25.957 0 47-21.043 47-47s-21.043-47-47-47-47 21.043-47 47 21.043 47 47 47z"></path>
                                    <path fill="#DA2032" d="M178 194c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64 35.346 0 64 28.654 64 64 0 35.346-28.654 64-64 64zm0-22c27.062 0 49-21.938 49-49s-21.938-49-49-49-49 21.938-49 49 21.938 49 49 49z"></path>
                                    <path fill="#F7941E" d="M178 214c-46.392 0-84-37.608-84-84s37.608-84 84-84 84 37.608 84 84-37.608 84-84 84zm3.5-18c39.488 0 71.5-32.012 71.5-71.5S220.988 53 181.5 53 110 85.012 110 124.5s32.012 71.5 71.5 71.5z"></path>
                                    <path fill="#D5CD25" d="M178 236c-58.542 0-106-47.458-106-106S119.458 24 178 24s106 47.458 106 106-47.458 106-106 106zm4-21c49.706 0 90-40.294 90-90s-40.294-90-90-90-90 40.294-90 90 40.294 90 90 90z"></path>
                                    <path fill="#757600" d="M178 260c-71.797 0-130-58.203-130-130S106.203 0 178 0s130 58.203 130 130-58.203 130-130 130zm5.5-21c61.027 0 110.5-49.473 110.5-110.5S244.527 18 183.5 18 73 67.473 73 128.5 122.473 239 183.5 239z"></path>
                                </g>
                            </svg>
                        </th>
                    </tr>
                    <tr>
                        <td>Zerihun G. Workineh <sup>1*</sup></td>
                        <td><a href="#">X</a></td>
                        <td><a href="mailto:zerihungetahun.workineh@upf.edu">X</a></td>
                        <td><a href="#">X</a></td>
                        <td><a href="#">X</a></td>
                        <td><a href="#">X</a></td>
                        <td><a href="#">X</a></td>
                        <td><a href="#">X</a></td>
                        <td><a href="#">X</a></td>
                        <td><a href="#">X</a></td>
                    </tr>
                    <tr>
                        <td>Francis Kiptengwer Chemorion <sup>1</sup></td>
                        <td><a href="https://disc4all.upf.edu/bio/francis-chemorion/">X</a></td>
                        <td><a href="mailto:francis.chemorion@upf.edu">X</a></td>
                        <td><a href="https://twitter.com/fkchemorion">X</a></td>
                        <td><a href="https://github.com/kchemorion">X</a></td>
                        <td><a href="https://scholar.google.com/citations?user=upAnje8AAAAJ&amp;hl=en">X</a></td>
                        <td><a href="https://orcid.org/0000-0002-2099-0035">X</a></td>
                        <td><a href="https://www.researchgate.net/profile/Francis-Chemorion">X</a></td>
                        <td><a href="https://www.linkedin.com/in/francis-chemorion/">X</a></td>
                        <td><a href="https://loop.frontiersin.org/people/2449392/publications">X</a></td>
                    </tr>
                    <tr>
                        <td>Jérôme Noailly <sup>1</sup></td>
                        <td><a href="https://www.upf.edu/web/etic/computational-biology-and-biomedical-systems/-/asset_publisher/MKlA53ZqmAS8/content/noailly-j%C3%A9r%C3%B4me-bernard/maximized">X</a></td>
                        <td><a href="mailto:jerome.noailly@upf.edu">X</a></td>
                        <td><a href="https://twitter.com/jeromenoailly">X</a></td>
                        <td><a href="#">X</a></td>
                        <td><a href="https://scholar.google.es/citations?user=YFvwxpwAAAAJ&amp;hl=ca&amp;oi=sra">X</a></td>
                        <td><a href="https://orcid.org/0000-0003-3446-7621">X</a></td>
                        <td><a href="https://www.researchgate.net/profile/Jerome-Noailly-2">X</a></td>
                        <td><a href="https://www.linkedin.com/in/jnoailly/">X</a></td>
                        <td><a href="https://loop.frontiersin.org/people/59318/publications">X</a></td>
                    </tr>
                </tbody></table>
                <br>
                <p>
                    1. BCN MedTech, Department of Engineering, Universitat Pompeu Fabra, Barcelona, Spain<br>
                </p>
                <p>
                    <strong>Paper:</strong> A systems-level network model reveals how mechanical loading organizes regulatory states and transitions in nucleus pulposus cells (2026).
                    <br>
                    <strong>Model repository:</strong> <a href="https://github.com/SpineView1/np-mt-rnm">github.com/SpineView1/np-mt-rnm</a>
                </p>
            </div>
        </div>
    </div>
    <br>
    <!-- <div class="card">
        <div class="card-body">
            <h5 class="card-title">Model Overview</h5>
            <p>Model ID: {{ model_data.model_id }}</p>
            <p>Model Name: {{ model_data.model_name }}</p>
            <p>Number of Compartments: {{ model_data.num_compartments }}</p>
            <p>Number of Species: {{ model_data.num_species }}</p>
        </div>
    </div> -->
    
</div>